@keyframes slideIn {
    0% {
        transform: translateX(400%);
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 1280px) {

    .addTaskHeadlineContainer {
        left: 302px;
        max-width: calc(100vw - 302px);
    }

    .contentPosition {
        padding-left: 59px;
        padding-right: 59px;
    }

    .boxLeft {
        min-width: 310px;
    }

    .addContactPopupBox {
        display: flex;
        flex-direction: column;
        min-width: 320px;
        width: 500px;
        height: 650px;
    }

    .addContactPopupBoxLeft {
        justify-content: center;
        width: 100%;
        height: 450px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }

    .addContactPopupBoxLeftPosition {
        justify-content: center;
        text-align: center;
        width: 100%;
        padding-left: 60px;
        margin-bottom: 0px;
        margin-top: -60px;
    }

    .logoContactPopup {
        display: none;
    }

    .addContactPopupBoxRight {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }

    .addContactPopupBoxRightImgPosition {
        margin-top: -130px;
        height: 190px;
    }

    .addContactPopupBoxRightBtnPosition {
        justify-content: center;
        margin-top: 50px;
    }

    .addCategoryPopupBoxRightImg {
        width: 120px;
        height: 120px;
        margin-top: -30px;
    }

    .closePopup {
        position: absolute;
        display: unset;
        top: 15px;
        right: 15px;
    }

    .closePopupBlue {
        display: none;
    }

}

@media (max-width: 1000px) {
    .addTaskHeadlineContainer {
        top: 0px;
        left: 220px;
        max-width: calc(100vw - 220px);
    }

    .contentAddTask {
        top: 250px;
        left: 160px;
        max-width: calc(100vw - 160px);
        max-height: calc(100vh - 250px);
    }

}

@media (max-width: 1130px) {
    .contentPosition {
        padding-left: 59px;
        padding-right: 59px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .taskArea {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }

    .selectBtnArea {
        padding-right: 0px;
        margin-top: 40px;
    }

    .boxLeft {
        padding-right: 0px;
        min-width: 280px;
        width: 100%;
    }

    .boxRight {
        padding-left: 0px;
        border-left: none;
        width: 100%;
    }

}

@media (max-width: 768px) {

    .contentAddTask {
        top: 160px;
        bottom: 160px;
        left: 0px;
        right: 0;
        padding-left: 12px;
        padding-top: 12px;
        max-width: unset;
        max-height: calc(100vh - 220px);
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .show-scrollbarTaskWindow::-webkit-scrollbar {
        display: none;
    }

    .show-scrollbarTaskWindow::-webkit-scrollbar-track {
        display: none;
    }

    .show-scrollbarTaskWindow::-webkit-scrollbar-thumb {
        display: none;
    }

    .show-scrollbarTaskWindow:hover::-webkit-scrollbar-thumb {
        display: none;
    }

    .show-scrollbarTaskWindow::-webkit-scrollbar-button:start:decrement,
    .show-scrollbarTaskWindow::-webkit-scrollbar-button:end:increment {
        display: none;
    }

    .show-scrollbarTaskWindow::-webkit-scrollbar-button:start:decrement {
        display: none;
    }

    .show-scrollbarTaskWindow::-webkit-scrollbar-button:end:increment {
        display: none;
    }

    .clearBtn {
        display: none;
    }

    .addTaskHeadlineContainer {
        top: 0px;
        left: 20px;
        height: 87px;
        padding-bottom: 10px;
        max-width: calc(100vw - 0px);
        margin-top: 80px;
    }

    .contentPosition {
        padding-left: 12px;
        padding-right: 12px;
    }

    .taskArea {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }

    .selectBtnArea {
        position: fixed;
        bottom: 90px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        left: 0;
        padding-right: 18px;
        padding-left: 18px;
        align-items: center;
    }

    .selectBtnAreaPopup {
        bottom: 20px !important;
    }

    .selectedSubTask {
        padding-bottom: 20px;
    }


    .boxLeft {
        padding-right: 0px;
        min-width: 0px;
        width: 100%;
    }

    .boxRight {
        padding-left: 0px;
        border-left: none;
        width: 100%;
    }

    .addContactPopupBox {
        display: flex;
        flex-direction: column;
        min-width: 320px;
        width: 310px;
        height: 650px;
    }

    .addContactPopupBoxLeft {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
        width: 100%;
        height: 450px;
        background-color: #2A3647;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }

    .addContactPopupBoxLeftPosition {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding-left: 10px;
        margin-bottom: 0px;
        margin-top: -60px;
    }

    .logoContactPopup {
        width: 40px;
        display: none;
    }

    .addContactPopupBoxLeftHeadline {
        font-size: 42px;
        text-align: center;
        font-stretch: normal;
        color: white;
    }

    .addContactPopupBoxLeftText {
        font-size: 20px;
        color: white;
    }

    .addContactPopupBoxRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #FFF;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .addContactPopupBoxRightImgPosition {
        width: 300px;
        margin-top: -130px;
        height: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .addContactPopupBoxRightImg {
        width: 110px;
        background-color: gray;
        border: 2px solid white;
        border-radius: 50%;
        padding: 15px 15px;
    }

    .addContactPopupBoxRightFormPosition {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 20px;
        padding-left: 20px;
    }

    .addContactPopupBoxRightBtnPosition {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        gap: 15px;
    }

    .addCategoryPopupBoxRightImg {
        width: 120px;
        height: 120px;
        margin-top: 0px;
        background-color: gray;
        border: 2px solid white;
        border-radius: 50%;
        padding: 0px 25px;
    }

    .fontSize61 {
        font-size: 47px !important;
    }

    .fontSize27 {
        font-size: 20px !important;
    }

    .fontSize47 {
        font-size: 36px !important;
    }

    .clearBtn {
        display: none !important;
    }

    #assignedToInputCover {
        font-size: 17px;
        padding: 14px 21px;
    }
}

@media (max-width: 400px) {

    .prioButtonContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        gap: 16px;

    }

    .prioBtn {
        display: flex;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 7px;
        line-height: 120%;
        padding: 10px 14px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
        border-radius: 10px;
        background-color: #FFFFFF;
        margin-top: 5px !important;
        width: 100%;
    }

}