body {
    background-color: var(--main-background-color);
    height: 100vh;
    display: flex;
    margin: 0;
    width: 100vw;
    font-family: 'Inter';
}

.contact-content {
    margin-top: 110px;
}

.summary-line {
    height: 59px;
    border-radius: 8px;
    width: 4px;
    background-color: var(--headline);
    margin-right: 30px;
    margin-left: 30px;
}

#contact_list {
    height: calc(100vh - 160px);
}

.profile-picture {
    height: 42px;
    width: 42px;
    border-radius: 100%;
    color: white;
    border: 2px solid white;
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.left-container {
    top: 300px;
    height: calc(100vh - 96px);
    padding-top: 32px;
    margin-top: -110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    overflow-y: scroll;
}

.left-container::-webkit-scrollbar-button:start:decrement {
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
}

.left-container::-webkit-scrollbar-button:end:increment {
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}

.left-container::-webkit-scrollbar {
    display: block;
    width: 8px;
    padding: 20px 0;
}

.left-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.left-container::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 10px;
}

.scrolling-container {
    width: 400px;
    margin-top: 101px;
    padding: 0px 20px 0px 20px;
}

.contact-quickinfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    padding: 15px 24px;
    cursor: pointer;
    border-radius: 10px;
}

.contact-quickinfo:hover {
    background: #F2F2F2;
}

.initial {
    display: flex;
    align-items: center;
    padding: 15px 36px;
    height: 58px;
}

.parting-line {
    height: 1px;
    background: #D1D1D1;
    margin: 8px 0 8px;
    font-weight: 400;
}

#contact_form img {
    width: 24px;
    height: 24px;
}

.contact-detail-container,
.right-container-headline {
    margin: 0 55px;
    height: auto;
    width: auto;
}

.contact-detail-container {
    display: flex;
    flex-direction: column;
}

.right-container-headline {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 73px;
    margin-bottom: 32px;
}

.big-profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    color: white;
    border: 3px solid white;
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
}

.contact-information-text-block {
    display: flex;
    align-items: center;
    height: 74px;
    margin-bottom: 21px;
    margin-top: 21px;
}

.email-text {
    margin-bottom: 15px;
}

.mail-quickinfo,
#emailid a {
    color: #007CEE;
}

#emailid a {
    width: 400px;
}

#emailid,
.phone-number {
    width: 100%;
}

.phone-number {
    color: black;
}

.phone-text {
    margin: 22px 0 15px;
}

.edit-delete-contact:hover {
    color: #29ABE2;
    font-weight: bold;
}

#mobile_edit_delete_box {
    position: absolute;
    bottom: calc(80px + 32px);
    right: 16px;
    width: 116px;
    height: 100px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mobile-delete-text:hover,
.mobile-edit-text:hover,
.mobile-edit:hover,
.mobile-delete:hover {
    color: #29ABE2;
    font-weight: bold;
    background-color: #EEEEEE;
    border-radius: 5px;
}

#mobile_backarrow_id {
    position: absolute;
    top: 124.97px;
    left: calc(100vw - 63.13px);
}

#mobile_backarrow_id:hover {
    width: 36.901px;
    height: 36.901px;
    background-color: #F7F7F7;
    border-radius: 100%;
}

#mobile_backarrow_id img {
    width: 36.901px;
    height: 36.901px;
}

.contact-detail-top {
    display: flex;
    gap: 54px;
}

#contact_name {
    margin-bottom: 4px;
    font-size: 47px;
}

#delete_edit {
    margin-top: 4px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    padding-left: 243px;
    margin-top: 96px;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.content {
    display: none;
    z-index: 0;
}

.d-none {
    display: none;
}