@media (max-width: 1345px) {
    .contactsTitle {
        gap: 8px !important;
        height: auto !important;
        display: flex !important;
        flex-direction: column !important;
        margin: 0px 55px 32px !important;
        align-items: flex-start !important;
    }

    #blueLineIdDesktopViewId {
        display: none;
    }

    .left-container {
        max-width: 375px !important;
        min-width: 375px !important;
    }

    .profilePicAndNameBig {
        flex-direction: column;
        align-items: flex-start !important;
    }
}

@media (max-width: 1250px) {
    .addContactPopup {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        height: calc(100vh - 20px) !important;
        width: 592px !important;
    }

    .leftSideAddContactPopup {
        border-top-right-radius: 30px !important;
        border-bottom-left-radius: 0 !important;
        height: calc(100vh * 0.4) !important;
        width: 592px !important;
        padding: 66px 24px !important;
    }

    .rightSidePopup {
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        width: 100% !important;
        height: calc(100vh * 0.6) !important;
    }

    .profilePictureArea {
        position: absolute !important;
    }

    .circle {
        margin-top: -60px !important;
    }

    .personInCircle {
        top: 0px;
    }

    .contactInfo {
        width: 100%;
        height: auto !important;
        margin: 0 !important;
        align-items: center !important;
        width: 90% !important;
        gap: 15px !important;
    }

    .addContactButtonContainer {
        z-index: 0 !important;
        justify-content: center;
    }

    .cancelBtn {
        margin-right: 20px !important;
    }

    .inputName input,
    .register_email_container input,
    .inputPhone input {
        width: calc(592px - 64px) !important;
        height: calc(26px + 15px) !important;
    }

    .closePopupCross path {
        fill: white !important;
    }

    .closePopupCross {
        position: absolute;
        top: calc(0px - (100vh * 0.4) + 24px) !important;
        right: 32px !important;
    }

    .cancelBtn,
    .createContactButton {
        padding: 18px 10px !important;
        width: auto !important;
    }

    .leftSideAddContactPopup img {
        top: 100px !important;
        left: 20px !important;
    }
}

@media (max-width: 1100px) {
    .contactsTitle {
        margin: 0px 12px 32px !important;
    }

    .contactInfoBig {
        margin: 0 12px;
    }

    .contactsInfo {
        max-width: 352px !important;
        min-width: 352px !important;
    }

    .left-container {
        width: auto;
        min-width: 230px;
        max-width: 230px;
    }

    .fontSize61 {
        font-size: 42px !important;
    }

    .fontSize47 {
        font-size: 36px !important;
    }

    .fontSize27 {
        font-size: 16px !important;
    }
}

@media (max-width: 1000px) {
    .contentContact {
        padding-left: calc(243px - 83px);
    }
}

@media (max-width: 768px) {
    .mobileDelete {
        display: none !important;
    }

    .mobileDelete,
    .mobileEdit {
        align-items: center;
    }

    .scrollingContainer {
        margin-top: 0 !important;
    }

    .profilePicAndNameBig {
        flex-direction: row !important;
        align-items: center !important;
    }

    .contactPage {
        width: 100% !important;
    }

    .contactsInfo {
        max-width: 100% !important;
        min-width: 50vw !important;
        padding: 15px 24px !important;
        flex-direction: row !important;
        text-align: start !important;
    }

    .contentContact {
        display: flex;
        flex-direction: row !important;
        padding-left: 0px !important;
        width: 100vw !important;
        margin-top: 80px !important;
    }

    .left-container {
        width: 100% !important;
        min-width: 100vw !important;
        max-width: 100vw !important;
        height: calc(100vh - 160px) !important;
    }

    .firstLetterOverContact {
        width: 100% !important;
        justify-content: flex-start !important;
    }

    #contactsId {
        width: 100vw !important;
        padding-left: 38px !important;
        padding-right: 38px !important;
    }

    /* popup */

    .addContactPopup {
        width: calc(100vw - 32px) !important;
    }

    .leftSideAddContactPopup {
        width: calc(100vw - 32px) !important;
    }

    .inputName input,
    .register_email_container input,
    .inputPhone input {
        width: calc(100vw - 64px) !important;
    }

    .leftSideAddContactPopup img {
        top: 154px !important;
        left: 48px !important;
    }

    /* popup ende */

    .mobileAddContact {
        position: absolute;
        bottom: calc(80px + 32px);
        right: 16px;
        background-color: #2A3647;
        width: 56px;
        height: 56px;
        border-radius: 100%;
        box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
    }

    .mobileAddContact img {
        width: 32px;
        height: 32px;
    }

    .mobileAddContact:hover {
        background-color: #29ABE2;
    }

    .contact-details-mobile {
        position: absolute;
        top: 80px;
        bottom: 80px;
        left: 0;
        background-color: white;
        width: 100vw;
        height: 100vh;
    }

    .contactsTitle {
        gap: 8px !important;
        height: auto !important;
        display: flex !important;
        flex-direction: column !important;
        margin: 48px 16px 48px !important;
    }

    .contactsTitle img {
        margin: 0 !important;
    }

    .fontSize61 {
        font-size: 47px !important;
    }

    .fontSize27 {
        font-size: 20px !important;
    }

    .fontSize47 {
        font-size: 36px !important;
    }

    #blueLineId {
        margin-top: 8px;
        font-size: 0 !important;
    }

    .contactInfoBig {
        margin: 0 16px;
        width: calc(100vw - 32px) !important;
    }

    .contactInfoTextBlock {
        height: auto !important;
    }

    .successfullyBtn {
        bottom: 195px !important;
    }

    .profilePictureBig {
        width: 80px !important;
        height: 80px !important;
        margin: 0 20px 0 0 !important;
    }
}

@media (max-height: 700px) {
    .contactInfoBig {
        overflow-y: scroll !important;
        height: calc(100vh - 319.5px) !important;
    }

    #phoneId {
        padding-bottom: 8px;
    }

    .contactsTitle {
        margin: 32px 16px 32px !important;
    }

    .fontSize47 {
        font-size: 24px !important;
    }

    .profilePictureBig {
        width: 60px !important;
        height: 60px !important
    }
}

@media (max-width: 374px) {
    .circle {
        width: 70px;
        height: 70px;
        margin-top: -35px !important;
    }

    .personInCircle {
        width: 30px;
        height: 30px;
    }

    .profilePicAndNameBig {
        flex-direction: column !important;
        align-items: start !important;
    }

    .fontSize61 {
        font-size: 32px !important;
    }

    .fontSize27 {
        font-size: 16px !important;
    }

    .contactsInfo {
        display: flex;
        flex-direction: column !important;
        padding: 15px 24px 15px 24px !important;
        align-items: flex-start !important;
    }

    .firstLetterOverContact {
        padding: 17px 36px 17px 24px !important;
    }
}

@media (max-height: 1150px) {
    /* #joinLogoAddContactId {
        display: none;
    } */
}

@media (max-height: 860px) and (min-width: 769px) {
    /* #joinLogoAddContactId {
        display: none;
    } */

    .contactInfoTextBlock {
        height: auto;
    }

    .profilePictureBig {
        width: 80px;
        height: 80px;
    }

    .contact-details-mobile {
        margin-top: -100px;
    }
}