.center-popup {
    display: flex;
    margin-left: 92px;
    margin-right: 92px;
    margin-bottom: 100px;
}

#profile_img,
#no_profile_img {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#join_logo_add_contact {
    display: block;
    height: 66.48px;
    width: 55.6px;
}

.profile-edit-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    color: white;
    border: 3px solid white;
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
}

.circle {
    width: 120px;
    height: 120px;
    border: #FFFFFF solid 2px;
    border-radius: 100%;
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
}

.personInCircle {
    position: absolute;
    width: 64px;
    height: 64px;
    /* top: 264px;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.addContactBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(0, 0, 0, 0.4);
}

#close_popup {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;
}

#close_popup_mobile {
    display: none;
}

.addContactPopup {
    /* width: 1212px; */
    height: 592px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    background: #FFF;
}

.leftSideAddContactPopup {
    position: relative;
    height: 100%;
    width: 476px;
    background: #2A3647;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    color: white;
    padding: 66px 46px;
}


.addContactLeftText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
    margin-top: 66px;
}

.textUnderAddContactTitle {
    margin-bottom: 17.5px;
}

.blueLine {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 90px;
    background: #29ABE2;
    border-radius: 1.5px;
}

.rightSidePopup {
    position: relative;
    justify-content: flex-end;
    padding: 66px 46px 66px 0px;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 215px;
    gap: 32px;
    z-index: 1;
}

.inputName input,
.register_email_container input,
.inputPhone input {
    width: calc(41px + 380px);
    height: calc(26px + 24px);
    padding: 13px 21px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFF;
}

.inputName,
.register_email_container,
.inputPhone {
    position: relative;
}

textarea:focus,
input:focus {
    outline: 1px solid #29ABE2;
}


input {
    outline: none;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 12px 20px;
}

input:focus {
    border-color: #29ABE2;
}

input[type=text] {
    background: url('../img/lock.svg') no-repeat scroll;
    background-position: center right;
    /* 16px */
    background-origin: content-box;
}

input[type=email] {
    background: url('../img/mail.svg') no-repeat scroll;
    background-position: center right -2px;
    /* DON'T DELETE IMPORTANT FOR SYMETRY! */
    background-origin: content-box;
}

input[type=tel] {
    background: url('../img/call.svg') no-repeat scroll;
    background-position: center right;
    /* 20px */
    background-origin: content-box;
}

.inputName input:hover,
.register_email_container input:hover,
.inputPhone input:hover {
    border: 1px solid #29ABE2;
}

.inputName img,
.register_email_container img,
.inputPhone img {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    right: calc(21px - 12px);
}

.addContactButtonContainer {
    gap: 24px;
    margin-top: 32px;
}