body {
    background-color: var(--main-background-color);
    height: 100vh;
    display: flex;
    margin: 0;
    width: 100vw;
    font-family: 'Inter';
}

.contactPage {
    margin-top: 110px;
}

.summary-line {
    height: 59px;
    border-radius: 8px;
    width: 4px;
    background-color: var(--headline);
    margin-right: 30px;
    margin-left: 30px;
}

#contact_list {
    height: calc(100vh - 160px);
}

.profilePicture {
    height: 42px;
    width: 42px;
    border-radius: 100%;
    color: white;
    border: 2px solid white;
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
}

/* .btnBackground {
    position: fixed;
    width: auto;
    height: 101px;
    background: white;
} */

/* .createContactButton,
.addNewContactButton {
    background: #2A3647;
    color: white;
    border: none;
    border-radius: 10px;
}

.addNewContactButton:hover {
    background: #29ABE2;
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
} */

/* .addNewContactButton {
    position: relative;
    /* width: 352px; */
    /* height: 56px;
    padding: 0;
    gap: 16px; 
} */
/* 
.button:hover {
    background: #29ABE2;
} */

.addNewContactButton img {
    width: 32px;
    height: 32px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.left-container {
    top: 300px;
    /* width: 456px;
    min-width: 456px; */
    height: calc(100vh - 96px);
    margin-top: -110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    overflow-y: scroll;
}

/* scroll-bar contacts */
.left-container::-webkit-scrollbar-button:start:decrement {
    background-position: center;
    background-image: url('../img/arrow-up.svg');
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
}

.left-container::-webkit-scrollbar-button:end:increment {
    background-position: center;
    background-image: url('../img/arrow-down.svg');
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}

.left-container::-webkit-scrollbar {
    display: block;
    width: 8px;
    padding: 20px 0;
}

.left-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.left-container::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 10px;
}

.emptyContainer {
    height: 78px;
}

.scrollingContainer {
    width: 400px;
    margin-top: 101px;
    padding: 0px 20px 0px 20px;
}

.contactsInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    padding: 15px 24px;
    cursor: pointer;
    border-radius: 10px;
}

.contactsInfo:hover {
    background: #F2F2F2;
}

.initial{
    display: flex;
    align-items: center;
    /* width: 352px; */
    padding: 15px 36px;
    height: 58px;
}

.partingLine {
    height: 1px;
    background: #D1D1D1;
    margin: 8px 0 8px;
    font-weight: 400;
}

/* all pictures of right popup side */
.contactInfo img {
    width: 24px;
    height: 24px;
}

/* .createContactButton {
    width: calc(32px + 182px);
    height: calc(32px + 25px);
    padding: 16px;
    gap: 4px;
}

.createContactButton:hover {
    background: #29ABE2;
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.5);
} */

/* .cancelBtn {
    width: calc(32px + 94px);
    height: calc(32px + 24px);
    padding: 16px;
    gap: 4px;
    margin-right: 24px;
    border-radius: 10px;
    border: 1px solid var(--version-2-main-color, #2A3647);
    background: #F8F8F8;
    text-decoration: none;
    color: #2A3647;
    align-items: center;
    justify-content: space-between;
}

.cancelBtn:hover {
    border: 1px solid var(--version-2-main-color, #29ABE2);
    background: #F8F8F8;
    color: #29ABE2;
}

.cancelBtn:hover,
.createContactButton:hover {
    box-shadow: 2px 0 6px 0 rgb(0, 0, 0, 0.5);
} */

.closePopupCross {
    position: absolute;
    top: 66px;
    right: 46px;
    width: 32px;
    height: 32px;
}

.closePopupCross:hover {
    background: #EEEEEE;
    border-radius: 100%;
}

/* Text on right side */
.contactInfoBig,
.contactsTitle {
    margin: 0 55px;
    height: auto;
    width: auto;
}

.contactInfoBig {
    display: flex;
    flex-direction: column;
}

.contactsTitle {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 73px;
    margin-bottom: 32px;
}

.profilePictureBig {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    color: white;
    border: 3px solid white;
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
}

.contactInfoTextBlock {
    height: 74px;
    margin-bottom: 21px;
    margin-top: 21px;
}

.emailText {
    margin-bottom: 15px;
}

.emailScrollMenu,
#emailid a {
    color: #007CEE;
}

#emailid a {
    width: 400px;
}

#emailid,
.phoneNumber {
    width: 100%;
}

.phoneNumber {
    color: black;
}

.phoneText {
    margin: 22px 0 15px;
}

.pencilBigView {
    width: 30px;
}

.editDeleteContact {
    gap: 8px;
}

.editDeleteContact:hover {
    color: #29ABE2;
    font-weight: bold;
}

.editDeleteContact svg {
    width: 24px;
    height: 24px;
}

.mobileEditDeleteBox {
    position: absolute;
    bottom: calc(80px + 32px);
    right: 16px;
    width: 116px;
    height: 100px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mobileDeleteText:hover,
.mobileEditText:hover,
.mobileEdit:hover,
.mobileDelete:hover {
    color: #29ABE2;
    font-weight: bold;
    background-color: #EEEEEE;
    border-radius: 5px;
}

#mobile_backarrow_id {
    position: absolute;
    top: 124.97px;
    left: calc(100vw - 63.13px);
}

#mobile_backarrow_id:hover {
    width: 36.901px;
    height: 36.901px;
    background-color: #F7F7F7;
    border-radius: 100%;
}

#mobile_backarrow_id img {
    width: 36.901px;
    height: 36.901px;
}
.profilePicAndNameBig{
    display: flex;
    gap: 54px;
}

#nameId {
    margin-bottom: 4px;
    font-size: 47px;
}

#deleteEditId {
    margin-top: 4px;
}

.nameAbbreviation {
    margin-top: 2px;
}

.contentContact {
    display: flex;
    flex-direction: column;
    padding-left: 243px;
    margin-top: 96px;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.content {
    display: none;
    z-index: 0;
}

.d-none {
    display: none;
}