body {
    margin: 0;
    overflow-y: hidden;
    font-family: 'Inter' !important;
}

.quicklinksContainer {
    position: absolute;
    left: 243px;
    width: 100%;
    bottom: 0;
    max-width: calc(100vw - 243px) !important;
    max-height: calc(100vh - 206px);
    top: 206px;
    padding-right: 98px;
    padding-left: 96px;
    overflow-y: auto;
    font-family: 'Inter' !important;
}

#mobile_backarrow_id {
    position: absolute;
    top: 20px;
    right: 98px;
    width: 32px;
    height: 32px;
    transition: transform 0.4s ease;
}

#mobile_backarrow_id img:hover {
    transform: scale(1.05);
}

#mobile_backarrow_id:hover {

    background-color: #F7F7F7;
    border-radius: 100%;
    transform: scale(1.05);
    cursor: pointer;
}

/* .emptyContainer {
    width: 170px;
    height: 80px;
    background-color: white;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
} */

.quicklinksContainer::-webkit-scrollbar-button:start:decrement {
    /* background-position: center !important;
    background-image: url('../img/arrow-up.svg') !important; */
    border-top-right-radius: 100% !important;
    border-top-left-radius: 100% !important;
}

.quicklinksContainer::-webkit-scrollbar-button:end:increment {
    /* background-position: center !important;
    background-image: url('../img/arrow-down.svg') !important; */
    border-bottom-right-radius: 100% !important;
    border-bottom-left-radius: 100% !important;
}

.quicklinksContainer::-webkit-scrollbar {
    display: block !important;
    width: 8px !important;
    padding: 20px 0 !important;
}

.quicklinksContainer::-webkit-scrollbar-track {
    background-color: transparent !important;
}

.quicklinksContainer::-webkit-scrollbar-thumb {
    background-color: #909090 !important;
    border-radius: 10px;
}

.mb35 {
    margin-bottom: 35px !important;
}

.mb32 {
    margin-bottom: 32px !important;
}

.mb24 {
    margin-bottom: 24px !important;
}

.mb16 {
    margin-bottom: 16px !important;
}

.mt16 {
    margin-top: 16px !important;
}

.mb10 {
    margin-top: 10px !important;
}

.mr35 {
    margin-right: 35px !important;
}

td {
    padding: 0 !important;
}

.mb16container {
    height: 16px;
    width: 100%;
}

@media(max-width: 1000px) {
    .quicklinksContainer {
        max-width: calc(100vw - 160px) !important;
        left: 160px;
    }
}

@media(max-width: 768px) {
    .quicklinksContainer {
        top: 82px;
        bottom: 81px;
        max-height: calc(100vh - 163px);
        left: 0px;
        max-width: 100vw !important;
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    #mobile_backarrow_id {
        position: absolute;
        top: 46px;
        right: 6px;
        transition: transform 0.4s ease;
    }

    .fontSize61 {
        font-size: 47px !important;
    }
}