#warning_email {
    color: var(--color-red);
    font-size: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dialog-sign-up {
    background-color: var(--text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 630px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    width: 600px;
    padding: 48px 88px;
    position: relative;
}

.sign-up-underline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mobile_backarrow_id {
    display: none;
    position: absolute;
    top: 60px;
    left: 88px;
}

#register_name {
    background-image: url('../img/user.svg');
    background-position: center right -4px;
}

#register_checkbox {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.register-checkbox-container a {
    padding: 3px;
    text-decoration: none;
    margin-left: 4px;
    color: var(--headline);
}

.register-checkbox-container a:hover {
    text-decoration: underline;
}

.register-checkbox-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 0 39px;
    margin: 34px 0 32px;
}

.register-checkbox-container label {
    color: #A8A8A8;
}

.sign-up-btn-register {
    border-radius: 8px;
    background: #2A3647;
    font-weight: 700;
    font-size: 21px;
    color: white;
    border: none;
    padding: 15px 24px;
    cursor: pointer;
}

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-none {
    display: none !important;
}

@media (max-width: 900px) {
    .dialog-sign-up {
        padding: 32px 0;
        margin: 30px 16px 0;
    }
}

@media (max-width: 768px) {
    .fontSize61 {
        font-size: 47;
    }

    .dialog-sign-up {
        width: 90vw;
    }

    .registerBtn {
        width: 180px;
        height: 21px;
        padding: 0;
        margin-bottom: 16px;
    }

    .register-checkbox-container {
        margin: 38px 0 32px;
    }

    #mobile_backarrow_id {
        display: block;
        top: 36px;
        left: 15px;
    }
}

@media(max-width: 375px) {
    body {
        height: 100vh;
    }

    header {
        padding-top: 12px;
        padding-right: 12px;
        padding-left: 15px;
    }

    header img {
        height: 80px;
    }

    .logo-container {
        margin-bottom: 0px;
    }
}

@media (max-height: 900px) {
    .dialog-sign-up {
        margin-top: 5px;
        padding: 32px 16px;
        /* width: auto; */
    }

    .logo-container img {
        width: 20px;
        height: 20px;
    }

    header {
        padding: 0;
    }
}

@media (max-height: 700px) {
    .fontSize61 {
        font-size: 34px;
    }

    #mobile_backarrow_id {
        top: 16px;
        left: 15px;
    }

    #register_password,
    #register_name,
    #login_password,
    #register_email {
        font-size: 14px;
    }

    .dialog-sign-up {
        padding: 16px 8px;
    }
}