:root {
    --main-color: #2A3647;
    --text-white: #FFF;
    --text-color: #A8A8A8;
    --border-grey: #D1D1D1;
    --design-background: #FF7A00;
    --sale-background: #FC71FF;
    --back-office-background: #1FD7C1;
    --marketing-background: #0038FF;
    --media-background: #FFC701;
    --main-background-color: #F6F7F8;
    --headline: #29ABE2; /* light-blue */
    --light-blue: #29ABE2; 
    --hover-color: #091931;
    --sidebarHoverElements: #2A3D59;
    --sidebarSelectedPage: #091931;
    --color-red: #FF3D00;
    --active-sildebar-page: rgba(9, 25, 49, 1);
    --body-background-color: #F6F7F8;
}

.mt-24{
    margin-top: 24px;
}
.mt-32{
    margin-top: 32px;
}

.blue-btn{
    background-color: var(--main-color);
    color: white;
    font-size: 17px;
    border: none;
}

.blue-btn:hover {
    cursor: pointer;
    background-color: #29ABE2;
}

.outline-btn{
    background-color: var(--text-white);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.outline-btn:hover{
    cursor: pointer;
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px; /*16px */
    gap: 5px;
    height: 56px;
    width: auto; /* fit-content */
    border-radius: 10px;
    font-weight: 700;
    gap: 4px;
    white-space: nowrap;
}

.border-radius-8{
    border-radius: 8px;
}

.content {
    position: absolute;
    top: 40px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 243px;
    max-width: calc(100vw - 243px);
    margin-top: 56px;
    width: 100%;
    max-height: calc(100vh - 96px);
    overflow-y: auto;
}

.dialog {
    background-color: var(--text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04) !important;
    border-radius: 30px !important;
    width: auto;
    padding: 48px 115px;
    position: relative;
}

.underline {
    height: 3px;
    width: 150px;
    background-color: var(--headline);
    border-radius: 5px;
    margin: 16px 0 32px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-grey {
    width: 2px;
    margin: 0 61px;
    background-color: var(--text-color) !important;
}

#mobile_backarrow_id {
    position: absolute;
    top: 60px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobile_backarrow_id:hover {
    background-color: #F7F7F7;
    border-radius: 100%;
}

.gap-32 {
    gap: 32px;
}

.width-100P {
    width: 100%;
}

.padding-right-59px {
    padding-right: 59px;
}

.padding-left-59px {
    padding-left: 59px;
}

.justifyContent {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: column;
}

.columnVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-none {
    display: none !important;
}

.red-border {
    border: 1px solid var(--color-red) !important;
}

.menu-header {
    border-radius: 20px 0px 20px 20px;
    background-color: var(--main-color);
    padding: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.menu-header-container {
    width: auto;
    height: auto;
    right: 11px;
    top: 96px;
    position: absolute;
    z-index: 3;
}

.menu-header-container a {
    width: 140px;
    height: 46px;
    padding: 8px 16px;
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu-header-container a:hover {
    background-color: var(--sidebarHoverElements);
}

.nowrap {
    white-space: nowrap;
}

.gap5 {
    gap: 5px;
}

a {
    text-decoration: none !important;
}

section {
    overflow-x: hidden;
}

.vertical {
    display: flex;
    justify-content: center;
}

.horicontalAndVertical {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.column {
    display: flex;
    flex-direction: column;
}

.gap16 {
    gap: 16px;
}

.gap8 {
    gap: 8px;
}

.padding8 {
    padding: 8px;
}

.pointer {
    cursor: pointer;
}

.textHorizontal {
    align-items: center;
}

.successfullyBtn {
    position: absolute;
    bottom: 100px;
    left: calc(50% - 326px / 2);
    background: #2A3647;
    color: white;
    border: none;
    border-radius: 10px;
    width: 326px;
    height: 74px !important;
}

.slide-in {
    animation: slide-in 0.5s ease;
}

.slide-out {
    animation: slide-out 0.5s ease;
}

@keyframes slide-in {
    0% {
        transform: translateX(400%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(400%);
    }
}

@media (max-width: 1000px) {
    .content {
        max-width: calc(100vw - 160px);
        left: 160px;
        padding-bottom: 30px;
    }

    .leftContainer {
        margin-left: 0;
    }
}

/* hover fot svg images */
.colorOnHover:hover path {
    fill: #29ABE2 !important;
}



@media (max-width: 768px) {
    .content {
        position: absolute;
        top: 24px;
        left: 0;
        bottom: 80px !important;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        margin-bottom: 0;
        width: 100%;
        max-width: 100vw !important;
        max-height: calc(100vh - 160px);
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .menu-header-container {
        top: 80px;
    }
}