body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-background-color) !important;
}

.task-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;

    margin-top: 206px;
    padding-left: 243px;

    height: auto;

    /* position: absolute;
    
    max-width: calc(100vw - 243px);
     max-height: calc(100vh - 246px);
    
    top: 206px;
    left: 243px;

    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto; */
}

.task-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}


.task-contentposition {
    padding-left: 96px;
    padding-right: 96px;
}

.task-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    position: fixed;
    margin-top: 96px;
    left: 243px;
    top: 0px;
    z-index: 2;
    background-color: var(--main-background-color);
    padding-left: 96px;
    padding-right: 96px;
    max-width: calc(100vw - 243px);
    padding-bottom: 15px;
}

.left-container {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    width: 100%;
    /* align-items: center; */
}

.right-container {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    width: 100%;
    /* align-items: center; */
}

.seperator {
    border-right: 3px solid rgba(0, 0, 2, 426);
    height: 59px;
    fill: none;
}

.custom-input {
    justify-content: space-between;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-color: white;
    display: flex;
    padding: 12px 20px;

}

.custom-input input {
    width: 90%;
    padding: 0;
    border: none;
    border-radius: 0px;
}

.custom-input img {
    height: 24px;
    width: 24px;
}

.prio-container{
    display: flex;
    gap: 8px;
}

.prio-btn {
    background-color: white;
}

.prio-btn img{
    background-color: white;
}

.task-bottom {

}

.test {
    display: flex;
    flex-direction: column;
}