body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-background-color) !important;
}

ul {
    margin-bottom: 0px !important;
    margin-top: 10px !important;
    display: flex;
    justify-content: space-between;
}

.task-popup-card {
    height: fit-content;
    background-color: white;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.left-popup {
    /* position: relative; */
    /* height: 100%; */
    width: 350px;
    background: #2A3647;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    color: white;
    padding: 66px 46px;
}

.blue-line {
    margin-top: 3px;
    left: 0;
    height: 3px;
    width: 90px;
    background: #29ABE2;
    border-radius: 1.5px;
}

#left_popup_content {
    display: flex;
    flex-direction: column;
}

#left_popup_content img {
    width: 40px;
}

.left-popup-text-headline {
    font-size: 42px;
    font-stretch: normal;
    color: white;
}

.left-popup-text {
    font-size: 20px;
    color: white;
}

.center-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 48px;
    margin-right: 48px;
    /* margin-bottom: 100px; */
}

.center-popup-category-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-popup-category-content img {
    height: 70px;
    width: 70px;
    position: absolute;
}

.add-category-logo-bg {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #29ABE2;
}

.right-popup {
    /* position: relative; */
    flex-direction: column;
    justify-content: flex-end;
    padding: 66px 46px 66px 0px;
}

#close_popup {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;
}

#close_popup img:hover {
    background: #EEEEEE;
    border-radius: 5px;
}

#close_popup_mobile {
    display: none;
}

.custom-select {
    max-width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color-settings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 5px 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #D1D1D1;
}

.selected-color {
    width: 25px !important;
    height: 25px !important;
    border: 2px solid #2A3647;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.30);
}

.popup-button-container {
    display: flex;
    margin-top: 20px;
    gap: 24px;
}

.close-popup {
    display: flex;
    justify-content: flex-end;
}

.close-board_popup_section {
    display: flex;
    justify-content: flex-end;
}

.hover {
    background: #EEEEEE;
    border-radius: 100%;
}

.task-popup-bg {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    margin-top: 106px;
    padding-left: 243px;
    /* height: auto; */
    /* position: absolute;
    max-width: calc(100vw - 243px);
    max-height: calc(100vh - 246px);
    top: 206px;
    left: 243px;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto; */
}

.task-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}


.task-contentposition {
    padding-left: 96px;
    padding-right: 96px;
}

.task-contentposition form {
    max-width: 1000px;
}


.task-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    /* position: fixed; */
    /* margin-top: 96px; */
    left: 243px;
    top: 0px;
    z-index: 2;
    background-color: var(--main-background-color);
    padding-left: 96px;
    padding-right: 96px;
    max-width: calc(100vw - 243px);
    padding-bottom: 15px;
}

.left-container {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    gap: 24px;
    width: 400px;
    /* min-width: 400px; */
}

.task-vector {
    display: block;
}

.right-container {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    gap: 24px;
    width: 400px;
    /* min-width: 400px; */
}

.seperator {
    border-right: 3px solid rgba(0, 0, 2, 426);
    height: 59px;
    fill: none;
}

.custom-input {
    justify-content: space-between;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-color: white;
    display: flex;
    padding: 12px 20px;
    margin-top: 8px;
}

.custom-input:focus-within {
    border: 1px solid #29ABE2;
}

.custom-input input {
    width: 90%;
    height: 100%;
    padding: 0;
    border: none;
    border-radius: 0px;
}

.pointer:hover {
    cursor: pointer;
}

.custom-input img {
    height: 24px;
    width: 24px;
}

.custom-input:hover {
    cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.click:hover {
    cursor: pointer;
}

.prio-container {
    justify-content: space-between;
    display: flex;
    margin-top: 8px;
    gap: 8px;
}

.prio-btn {
    background-color: white;
    gap: 8px !important;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.15);
}

.prio-btn:hover {
    cursor: pointer;
}

.prio-low {
    color: white;
    background-color: #7AE229;
    font-weight: bold !important;
}

.prio-medium {
    color: white;
    background-color: #FFA800;
    font-weight: bold !important;
}

.prio-urgent {
    color: white;
    background-color: #FF3D00;
    font-weight: bold !important;
}

#no_profile_img {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.circle {
    width: 120px;
    height: 120px;
    border: #FFFFFF solid 2px;
    border-radius: 100%;
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
}

.person-in-circle {
    position: absolute;
    width: 64px;
    height: 64px;
    /* top: 264px;
    left: 50%;
    transform: translate(-50%, -50%); */
}

#contact_form {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    width: 310px;
    height: 215px;
    gap: 8px;
    z-index: 1;
}

input[type=text] {
    background: url('../img/lock.svg') no-repeat scroll;
    background-position: center right;
    /* 16px */
    background-origin: content-box;
}

input[type=email] {
    background: url('../img/mail.svg') no-repeat scroll;
    background-position: center right -2px;
    /* DON'T DELETE IMPORTANT FOR SYMETRY! */
    background-origin: content-box;
}

input[type=tel] {
    background: url('../img/call.svg') no-repeat scroll;
    background-position: center right;
    /* 20px */
    background-origin: content-box;
}

.contact-popup-buttons {
    margin-top: 8px;
    justify-content: space-between;
}

#category_list_container {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.cateogry-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.cateogry-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 42.2px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.cateogry-list-item:hover {
    background-color: #EEE;
    cursor: pointer;
}

.delete-category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.delete-category-container img:hover {
    cursor: pointer;
    border-radius: 5px;
}

.color-circle {
    width: 20px;
    height: 20px;
    /* border: 2px solid rgba(0, 0, 0); */
    border-radius: 50%;
}

.delete-icon:hover,
.edit-icon:hover {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.10);
}

.selected {
    background-color: #2A3647;
    color: white;
    border-radius: 10px !important;
}

.selected:hover {
    background-color: #2A3647 !important;
}

.subtask-edit-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid #29ABE2;
    border-radius: 0;
    gap: 8px;
    padding: 0px 10px;
    height: 35px;
    width: 100%;
    background-color: white;
    margin-top: 8px;
}

.subtask-edit-input input {
    border: none;
    border-radius: 0px;
    padding: 0;
    width: 100%;
}

.subtask-edit-input img {
    height: 24px;
    width: 24px;
}

.task-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 100px;
}

.task-bottom-edit {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
}

.button-group {
    display: flex;
    gap: 8px;
}

.contact-list {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 4px 0px 4px 0px;
}

.contact-logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 12px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.contact-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
}

.contact-box:hover {
    cursor: pointer;
    background-color: #EEE;
}

.contact {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: -10px;
}

#selected_contacts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
}

/* EDIT */

.task-edit-popup {
    display: flex;
    flex-direction: column;
    max-width: calc(100vw - 200px);
    max-height: calc(100vh - 200px);
    width: 70vw;
    background-color: white;
    border-radius: 30px;
}

.task-popup-content {
    padding: 46px 66px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.task-popup-content form {
    width: 100%;
}

.task-popup-headline-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    top: 130px;
    left: 196px;
    right: 196px;
    padding-bottom: 10px;
    width: 100%;
    background-color: white;
}

@media (min-width: 2100px) {
    .task-edit-popup {
        width: 40vw !important;
    }
}

@media (min-width: 1600px) {
    .task-edit-popup {
        width: 50vw;
    }
}

@media (max-width: 1280px) {
    .task-header {
        padding-left: 50px;
        padding-right: 50px;
    }

    .task-contentposition {
        padding-left: 50px;
        padding-right: 50px;
    }

    .task-edit-popup {
        width: 80vw;
    }
}

@media (max-width: 1160px) {
    .task-header {
        padding-left: 50px;
        padding-right: 50px;
    }

    .task-contentposition {
        padding-left: 50px;
        padding-right: 50px;
    }

    .task-popup-card {
        flex-direction: column;
    }

    .left-popup {
        display: flex;
        flex-direction: column;
        border-top-right-radius: 30px !important;
        border-bottom-left-radius: 0 !important;
        height: calc(100vh * 0.4) !important;
        width: 600px !important;
        padding: 24px 24px 0px 24px;
    }

    .center-popup {
        display: flex;
        justify-content: center;
        margin-top: -60px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .right-popup {
        padding: 0px 24px 24px 24px;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        width: 100% !important;
        height: calc(100vh * 0.4) !important;
    }

    #close_popup {
        display: none;
    }

    #close_popup_mobile {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    #close_popup_mobile img:hover {
        cursor: pointer;
        border-radius: 5px;
        background-color: lightslategray;
    }
}

@media (max-width: 1130px) {
    .task-vector {
        display: none;
    }

    .task-content {
        flex-direction: column;
    }

    .left-container {
        padding-right: 0px;
        width: 100%;
    }

    .right-container {
        padding-left: 0px;
        margin-top: 24px;
        width: 100%;
    }

    .task-popup-content {
        padding-left: 24px;
        padding-right: 24px;
    }

    .task-content {
        align-items: unset;
    }
}


@media (max-width: 1000px) {
    .task-container {
        padding-left: calc(243px - 83px);
    }
}

@media (max-width: 768px) {
    #cancel_btn {
        display: none;
    }

    .popup-button-container {
        justify-content: center;
    }

    .contact-popup-buttons {
        justify-content: center;
    }

    .task-container {
        width: 100%;
        padding-left: 0px;
        margin-top: 0px;
    }

    .task-header {
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 76px;
        max-width: 100vw;
        left: 0px;
    }

    .task-contentposition {
        padding-left: 16px;
        padding-right: 16px;
    }

    .left-popup {
        width: 100% !important;
    }

    .task-edit-popup {
        max-width: 100vw;
        max-height: 100vh;
        height: 100vh;
        width: 100vw;
    }

    .task-bottom {
        display: flex;
        justify-content: space-between;
        /* align-items: flex-end; */
        padding-top: 0px;
        padding-bottom: 81px;
        margin-top: 48px;
        gap: 24px;
        /* align-items: center; */
        width: 100%;
        /* background-color: white; */
    }

    .task-bottom-edit {
        margin-top: 48px;
        gap: 24px;
        width: 100%;
    }
}

@media (max-width: 400px) {
    .left-popup {
        width: 100% !important;
    }

    .prio-container {
        flex-direction: column;
    }

    .task-bottom {
        flex-direction: column;
    }

    .task-bottom-edit {
        flex-direction: column;
    }

    .required-info {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .right-popup {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .custom-select {
        width: 280px;
    }

    #contact_form {
        width: 280px;
    }
}