body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-background-color) !important;
}

ul {
    margin-bottom: 0px !important;
    margin-top: 10px !important;
    display: flex;
    justify-content: space-between;
}

.task-container {
    display: flex;
    flex-direction: column;
    width: 97%;
    overflow-y: auto;

    margin-top: 206px;
    padding-left: 243px;

    height: auto;

    /* position: absolute;
    
    max-width: calc(100vw - 243px);
    max-height: calc(100vh - 246px);
    
    top: 206px;
    left: 243px;

    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto; */
}

.task-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}


.task-contentposition {
    padding-left: 96px;
    padding-right: 96px;
}

.task-contentposition form {
    max-width: 1000px;
}


.task-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    position: fixed;
    margin-top: 96px;
    left: 243px;
    top: 0px;
    z-index: 2;
    background-color: var(--main-background-color);
    padding-left: 96px;
    padding-right: 96px;
    max-width: calc(100vw - 243px);
    padding-bottom: 15px;
}

.left-container {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    gap: 24px;
    width: 400px;
    min-width: 400px;
}

.task-vector {
    display: block;
}

.right-container {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    gap: 24px;
    width: 400px;
    min-width: 400px;
}

.seperator {
    border-right: 3px solid rgba(0, 0, 2, 426);
    height: 59px;
    fill: none;
}

.custom-input {
    justify-content: space-between;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-color: white;
    display: flex;
    padding: 12px 20px;
    margin-top: 8px;
}

.custom-input input {
    width: 90%;
    padding: 0;
    border: none;
    border-radius: 0px;
}

.custom-input img {
    height: 24px;
    width: 24px;
}

.prio-container {
    justify-content: space-between;
    display: flex;
    margin-top: 8px;
}

.prio-btn {
    background-color: white;
}

.prio-btn img {
    background-color: white;
}

#category_list_container {
    display: flex;
    flex-direction: column;
}

.cateogry-list {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cateogry-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #D1D1D1;
    border-radius: 10px !important;
}

.colorCircle {
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0);
    border-radius: 50%;
}

.colorCircle:hover {
    cursor: pointer;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.30);
}

.selected {
    background-color: #2A3647;
    color: white;
    border-radius: 10px !important;
}

#edit_input {}

.subtask-edit-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid #29ABE2;
    border-radius: 0;
    gap: 8px;
    padding: 0px 10px;
    height: 35px;
    width: 100%;
    background-color: white;
    margin-top: 8px;
}

.subtask-edit-input input {
    border: none;
    border-radius: 0px;
    padding: 0;
    width: 100%;
}

.subtask-edit-input img {
    height: 24px;
    width: 24px;
}


.task-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 100px;
}

.button-group {
    display: flex;
    gap: 8px;
}


@media (max-width: 1280px) {
    .task-header {
        padding-left: 50px;
        padding-right: 50px;
    }

    .task-contentposition {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 1160px) {
    .task-header {
        padding-left: 50px;
        padding-right: 50px;
    }

    .task-contentposition {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 1130px) {
    .task-vector {
        display: none;
    }

    .task-content {
        flex-direction: column;
    }

    .left-container {
        padding-right: 0px;
    }

    .right-container {
        padding-left: 0px;
        margin-top: 24px;
    }


}

@media (max-width: 768px) {
    .task-container {
        width: 100%;
        padding-left: 0px;
    }

    .task-header {
        padding-left: 16px;
        padding-right: 16px;
        left: 0px;
    }

    .task-contentposition {
        padding-left: 16px;
        padding-right: 16px;
    }
}